.cabecera{
  height: 20%;
  width: 99%;
  margin: 1% 1%;
}

.contenedor1{
  width: 48%;
  height: 99%;
  margin: 1% 1%;
  float: left;
}

.contenedor2{
  width: 48%;
  height: 99%;
  margin: 1% 1%;
  float: right;
  text-align:center;

}

.table{
  width: 98%;
  text-align:center;
}

.myCanvas {
  width:30vw;
  height:30vw;
  border:1px solid #000000;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

